@charset "UTF-8";

a,abbr,acronym,address,applet,
article,aside,audio,b,big,blockquote,
body,canvas,caption,center,cite,code,dd,
del,details,dfn,div,dl,dt,em,embed,fieldset,
figcaption,figure,footer,form,h1,h2,h3,h4,h5,
h6,header,hgroup,html,i,iframe,img,ins,kbd,label,
legend,li,mark,menu,nav,object,ol,output,p,pre,q,
ruby,s,samp,section,small,span,strike,strong,sub,
summary,sup,table,tbody,td,tfoot,th,thead,time,tr,
tt,u,ul,var,
video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}

article,aside,details,
figcaption,figure,footer,
header,hgroup,menu,nav,
section {
    display:block
}

body {
    line-height:1
}

ol,ul {
    list-style:none
}

body {
    font-family:sans-serif;
    font-size:100%;
    color:#878787;
    background-color:#f5f8fa;
    box-sizing: border-box;
}

body h1 {
    font-size:42px!important
}

h4, .h4 {
    font-size: 1.5rem;
}
  
@media (max-width: 1200px) {
h4, .h4 {
    font-size: calc(1.275rem + 0.3vw) ;
}
}
  
h5, .h5 {
    font-size: 1.25rem;
}
  
h6, .h6 {
    font-size: 1rem;
}

.basic-button,
.basic-button-red {
    background-color:#2e9dd1;
    border-radius:40px;
    padding:17px 30px;
    color:#fff;
    font-size:10px;
    cursor:pointer;
    display:block;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content
}

.basic-button-red:hover,
.basic-button:hover {
    background-color:#218abb
}

.basic-button-red {
    background-color:#f2674d
}

.basic-button-red:hover {
    background-color:#cc4f39
}

/*!
 *  Font Awesome 3.2.1
 *  the iconic font designed for Bootstrap
 *  ------------------------------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation can be
 *  found at http://fontawesome.io.  Stay up to date on Twitter at
 *  http://twitter.com/fontawesome.
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - The Font Awesome font is licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Author - Dave Gandy
 *  ------------------------------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/davegandy
 *  Work: Lead Product Designer @ Kyruus - http://kyruus.com
 */

[class*=" icon-"],
[class^=icon-] {
    font-family:FontAwesome;
    font-weight:400;
    font-style:normal;
    text-decoration:inherit;
    -webkit-font-smoothing:antialiased;
    *margin-right:.3em
}

[class*=" icon-"]:before,
[class^=icon-]:before {
    text-decoration:inherit;
    display:inline-block;
    speak-as:none;
}

.icon-large:before {
    vertical-align:-10%;
    font-size:1.333em
}

[class*=" icon-"],
[class^=icon-] {
    display:inline;
    width:auto;
    height:auto;
    line-height:normal;
    vertical-align:baseline;
    background-image:none;
    background-position:0 0;
    background-repeat:repeat;
    margin-top:0
}

.icon-time:before {
    content:""
}

.icon-map-marker:before {
    content:""
}

.icon-phone:before {
    content:""
}

.icon-reorder:before {
    content:""
}

/*!
 * Bootstrap Grid v4.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */html {
    box-sizing:border-box;
    -ms-overflow-style:scrollbar
}

*,:after,
:before {
    box-sizing:inherit
}

.container {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

@media (min-width:576px) {
.container {
    max-width:540px
}
}

@media (min-width:768px) {
.container {
    max-width:720px
}
}

@media (min-width:992px) {
.container {
    max-width:960px
}
}

@media (min-width:1200px) {
.container {
    max-width:1140px
}
}

.container-fluid,.container-lg,
.container-md,.container-sm,
.container-xl {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

@media (min-width:576px) {
.container,
.container-sm {
    max-width:540px
}
}

@media (min-width:768px) {
.container,.container-md,
.container-sm {
    max-width:720px
}
}

@media (min-width:992px) {
.container,
.container-lg,
.container-md,
.container-sm {
    max-width:960px
}
}

@media (min-width:1200px) {
.container,.container-lg,
.container-md,.container-sm,
.container-xl {
    max-width:1140px
}
}

.row {
    display:flex;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}

.col,.col-1,.col-2,
.col-3,.col-4,.col-5,
.col-6,.col-7,.col-8,
.col-9,.col-10,.col-11,
.col-12,.col-auto,.col-lg,
.col-lg-1,.col-lg-2,.col-lg-3,
.col-lg-4,.col-lg-5,.col-lg-6,
.col-lg-7,.col-lg-8,.col-lg-9,
.col-lg-10,.col-lg-11,.col-lg-12,
.col-lg-auto,.col-md,.col-md-1,.col-md-2,
.col-md-3,.col-md-4,.col-md-5,.col-md-6,
.col-md-7,.col-md-8,.col-md-9,.col-md-10,
.col-md-11,.col-md-12,.col-md-auto,.col-sm,
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,
.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,
.col-sm-11,.col-sm-12,.col-sm-auto,.col-xl,.col-xl-1,
.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,
.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,
.col-xl-12,.col-xl-auto {
    position:relative;
    width:100%;
    padding-right:15px;
    padding-left:15px
}

.col {flex-basis:0;
    flex-grow:1;
    max-width:100%
}

.col-3 {flex:0 0 25%;
    max-width:25%
}

.col-6 {
    flex:0 0 50%;
    max-width:50%
}

.col-12 {
    flex:0 0 100%;
    max-width:100%
}

@media (min-width:768px) {
.col-md {
    flex-basis:0;
    flex-grow:1;
    max-width:100%
}
    
.col-md-2 {
    flex:0 0 16.667%;
    max-width:16.667%
}

.col-md-3 {flex:0 0 25%;
    max-width:25%
}

.col-md-4 {
    flex:0 0 33.333%;
    max-width:33.333%
}

.col-md-6 {
    flex:0 0 50%;
    max-width:50%
}

.col-md-7 {
    flex:0 0 58.333%;
    max-width:58.333%
}

.col-md-12 {
    flex:0 0 100%;
    max-width:100%
}
}

@media (min-width:992px) {
.col-lg-4 {
    flex:0 0 33.333%;
    max-width:33.333%
}
}

.d-none {
    display:none!important
}

.d-flex {
    display:flex!important
}

@media (min-width:576px) {
.d-sm-block {
    display:block!important
}
}

@media (min-width:768px) {
.d-md-none {
    display:none!important
}

.d-md-block {
    display:block!important
}

.d-md-flex {
    display:flex!important
}
}

.flex-row {
    flex-direction:row!important
}

.flex-column {
    flex-direction:column!important
}

.justify-content-center {
    justify-content:center!important
}

.align-items-center {
    align-items:center!important
}

@media (min-width:768px) {
.justify-content-md-end {
    justify-content:flex-end!important
}
}

.mt-1,.my-1 {
    margin-top:.25rem!important
}

.pt-1,.py-1 {
    padding-top:.25rem!important
}

.pb-1,.py-1 {
    padding-bottom:.25rem!important
}

.pr-3,.px-3 {
    padding-right:1rem!important
}

.pl-3,.px-3 {
    padding-left:1rem!important
}

@media (min-width:768px) {
.mr-md-auto,
.mx-md-auto {
    margin-right:auto!important
}
}

@media (min-width:992px) {
.pr-lg-5,
.px-lg-5 {
    padding-right:4rem!important
}
    
.pl-lg-5,
.px-lg-5 {
    padding-left:4rem!important
}
    
.pr-lg-6,.px-lg-6 {
    padding-right:5rem!important
}

.pl-lg-6,.px-lg-6 {
    padding-left:5rem!important
}
}

.page-section div {
    margin-bottom:1.2rem
}
/* Header Menu */

.header-logo {
    position: relative;
    margin-top: 20px;
    width:130px;
    height:60px;
    transition:all .6s ease;
    left: 100px;
}

.col-2 { 
    width: calc( 100% / 2 ); 
    padding: 0 15px; 
    float: left; 
}

.col-3 { 
    width: calc( 100% / 3 ); 
    padding: 0 15px; 
    float: left; 
}

.col-4 { 
    width: calc( 100% / 4 ); 
    padding: 0 15px; 
    float: left; 
}

.col-5 { 
    width: calc( 100% / 5 ); 
    padding: 0 15px; 
    float: left; 
}

.col-6 { 
    width: calc( 100% / 6 ); 
    padding: 0 15px; 
    float: left; 
}

input::-webkit-input-placeholder { 
    /* Chrome/Opera/Safari */
    color: #fff;
}

input::-moz-placeholder { 
    /* Firefox 19+ */
    color: #fff;
}

input:-ms-input-placeholder { 
    /* IE 10+ */
    color: #fff;
}

input:-moz-placeholder { 
    /* Firefox 18- */
    color: #fff;
}

::-moz-selection { 
    /* Code for Firefox */
    color: red;
    background: yellow;
}

::selection {
  color: red;
  background: yellow;
}

/****website-css****/
.container .menu a {
    display:block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-top: 0px;
    text-transform: uppercase;
}

.container ul {
    margin-top: -40px;
}

.menu {
    text-align: center;
    font-weight: bold;
}

.menu ul li {
    display: inline-block;
    padding: 0 15px;
    position: relative;
    margin-top: -30px;
}

menu .nav-active .nav-item,
.nav-active a {
    color: #DC143C !important;
}

.toggle_btn button.btn {
    background: transparent;
    border: 1px solid #000;
    border-radius: 4px;
    height: auto;
    width: auto;
    position: absolute;
    right: 20px;
    top: 20px;
}

.toggle_btn button.btn i {
  color: red;
  font-size: 24px;
}

.toggle_btn {
    display: none;
}

header.header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    z-index: 999;
    background-color: #B0C4DE;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    -webkit-animation: 900ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 900ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-transition: all .5s;
    transition: all .5s;
    max-width: 100%;
    margin-top: 0;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@-moz-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

/******end****/

/* Mobile CSS */
@media(max-width: 1600px) {  }
@media(max-width: 1399px) {  }
@media(max-width: 1199px) {  }
@media (max-width: 767px){ 

.container .menu a {
    display:contents;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-top: 50px;
    text-align: center !important;
    text-transform: uppercase;
}
 
ul li { 
    margin: 20px; 
    padding: 20px; 
    text-align: center !important;
    width: 100% !important;
    left: -30px;
}

.container ul {
    margin-top: 40px;
    margin: 20px;
    padding: 0 20px;
    text-align: center;
    width: 90%;
}

.menu {
    text-align: center !important;
}

.menu ul li {
    display: inline-block;
    padding: 0 15px;
    position: relative;
    margin-top: -30px;
}

menu .nav-active .nav-item,
.nav-active a {
    color: #DC143C!important
}

.toggle_btn button.btn {
    background: transparent;
    border: 1px solid #87CEEB;
    border-radius: 4px;
    font-size: 22px !important;
    height: auto;
    width: auto;
    position: absolute;
    right: 20px;
    top: 20px;
}

.toggle_btn button.btn i {
  color: red;
  font-size: 24px;
}

.toggle_btn {
    display:block;
}

.menu {
    position:absolute;
    width: 50%;
    height: 200px;
    padding: 0;
    text-align: center !important;
    font-weight: bold;
    background: #B0C4DE;
    display: none;
    top: 90px;
    left: 178px;
}

.menu li {
    display: inline-block;
    width: 100%;
    text-align: center !important;
    padding: 0 !important;
    width: 400px;
}

.menu  li  a {
    padding: 15px ;
    display: block ;
    width: 100% ;
    text-align: center !important;
    text-decoration:underline !important;
}

.menu ul li i{
      opacity: 0;
}

.toggle_btn.active .btn i:before {
    content: "\f00d ";
}
}
@media(max-width: 991px) {   }
@media(max-width: 767px) { 

  .col-2 { width: 100%; }
  .col-3 { width: 100%; }
  .col-4 { width: 100%; }
  .col-5 { width: 100%; }
  .col-6 { width: 100%; }
}
@media(max-width: 480px) {  }

/**responsive-css***/
@media only screen and (max-width: 767px){
  
}

/* End Header Menu */

.btn-scroll-to-top {
    font-family:fontello;
    opacity:1;
    bottom:2em;
    right:2em;
    position:fixed;
    z-index:100001;
    width:3em;
    height:3em;
    line-height:3em;
    text-align:center;
    color:#fff;
    background-color:#2e9dd1;
    cursor:pointer;
    transition:all .4s ease;
    border-radius:50%;
    opacity:0
}

.btn-scroll-to-top:hover {
    color:#fff;
    text-decoration:none
}

.btn-scroll-to-top:before {
    content:"\e92c"
}

.banner {
    background-image:url(../images/home1_sl1.jpg);
    background-size:cover;
    height:600px;
    margin-top: -120px;
    padding:0!important
}

.banner .banner-overlay {
    height:600px;
    width:100%;
    background-color:rgba(1,2,14,.397)
}

.banner .banner-overlay 
.banner-content-title {
    color: #32CD32;
    text-align: center;
    font-weight: bold;
    font-size:40px !important;
    font-family:sans-serif;
}

.banner .banner-overlay 
.banner-content-desc {
    color:#fff;
    margin-top:15px;
    margin-bottom:50px;
    width:70%;
    text-align:center;
}

.banner-contact-section {
    margin-top:-2rem!important
}

.banner-contact-section 
.green-contact-box,
.banner-contact-section 
.white-contact-box {
    padding:20px 15px 15px
}

.banner-contact-section 
.green-contact-box 
.contact-icon,
.banner-contact-section 
.white-contact-box 
.contact-icon {
    border-radius:50%;
    border:1px dashed green;
    color:#87CEEB;
    margin-right:10px;
    margin-left:30px;
    font-size:1.2rem;
    height:48px;
    width:48px;
    text-align:center;
    line-height:44px
}

.banner-contact-section 
.green-contact-box 
.contact-desc,
.banner-contact-section 
.white-contact-box 
.contact-desc {
    line-height:18px
}

.banner-contact-section 
.white-contact-box {
    background-color:#fff
}

.banner-contact-section 
.green-contact-box {
    background-color:#87CEEB
}

.banner-contact-section 
.green-contact-box div {
    color:#fff!important
}

.banner-contact-section 
.green-contact-box 
.contact-icon {
    border-radius:50%;
    border:1px dashed #fff
}

/* Mobile Banner CSS */
@media(max-width: 1600px) {  }
@media(max-width: 1399px) {  }
@media(max-width: 1199px) {  }
@media (max-width: 767px){ 

.banner {
    background-image:url(../images/home1_sl11.png);
    background-size: 420px;
    background-repeat: no-repeat;
    height:350px;
    margin-top: -86px;
    padding:0!important
}
    
.banner .banner-overlay {
    height:350px;
    width:100%;
    background-color:rgba(1,2,14,.397)
}
    
.banner .banner-overlay 
.banner-content-title {
    color: #32CD32;
    text-align: center;
    font-weight: bold;
    font-size:20px !important;
    font-family:sans-serif;
    margin-top: 96px;
}
    
.banner .banner-overlay 
.banner-content-desc {
    color:#fff;
    margin-top:15px;
    margin-bottom:50px;
    width:70%;
    text-align:center;
}
    
.banner-contact-section {
    margin-top:-2rem!important
}
    
.banner-contact-section 
.green-contact-box,
.banner-contact-section 
.white-contact-box {
    padding:20px 15px 15px
}
    
.banner-contact-section 
.green-contact-box 
.contact-icon,
.banner-contact-section 
.white-contact-box 
.contact-icon {
    border-radius:50%;
    border:1px dashed green;
    color:#87CEEB;
    margin-right:10px;
    margin-left:30px;
    font-size:1.2rem;
    height:48px;
    width:48px;
    text-align:center;
    line-height:44px
}
    
.banner-contact-section 
.green-contact-box 
.contact-desc,
.banner-contact-section 
.white-contact-box 
.contact-desc {
    line-height:18px
}
    
.banner-contact-section 
.white-contact-box {
    background-color:#fff
}
    
.banner-contact-section 
.green-contact-box {
    background-color:#87CEEB
}
  
.banner-contact-section 
.green-contact-box div {
    color:#fff!important
}
   
.banner-contact-section 
.green-contact-box 
.contact-icon {
    border-radius:50%;
    border:1px dashed #fff
}
}
/* End Banner */
/* About */

/******* Bootstrap Theming ********/
/*!
 * Bootstrap v4.5.3 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

@media (min-width: 768px) {
.col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.row-cols-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
}

.row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
}

.row-cols-md-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.row-cols-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
}

.row-cols-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
}

.row-cols-md-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}
  
@media (min-width: 992px) {
.col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
}

.row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
}

.row-cols-lg-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
}

.row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
}

.row-cols-lg-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}

@media (min-width: 1200px) {
.col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.row-cols-xl-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
}

.row-cols-xl-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
}

.row-cols-xl-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.row-cols-xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
}

.row-cols-xl-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
}

.row-cols-xl-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.offset-xl-0 {
    margin-left: 0;
}

.offset-xl-1 {
    margin-left: 8.33333%;
}

.offset-xl-2 {
    margin-left: 16.66667%;
}

.offset-xl-3 {
    margin-left: 25%;
}

.offset-xl-4 {
    margin-left: 33.33333%;
}

.offset-xl-5 {
    margin-left: 41.66667%;
}

.offset-xl-6 {
    margin-left: 50%;
}

.offset-xl-7 {
    margin-left: 58.33333%;
}

.offset-xl-8 {
    margin-left: 66.66667%;
}

.offset-xl-9 {
    margin-left: 75%;
}

.offset-xl-10 {
    margin-left: 83.33333%;
}

.offset-xl-11 {
    margin-left: 91.66667%;
}
}  
 
  /********** Custom CSS ************/
h1, h2,
.font-weight-bold {
    font-weight: 700 !important;
}
  
.mb-3 {
    margin-top: 10px;
}
  
@media (min-width: 992px) {
.about-text {
    margin-left: -120px;
}
}

.img-fluid {
    margin-top: 14px;
}
  
/* End About */

/* Our Mission */
.container-mission {
    width: 40%;
    margin-left: 150px;
    margin-bottom: 0px;
}

.mission h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.mission p {
    margin-bottom: 30px;
    margin-top: 10px;
}
/* End Mission */

/* Footer */
footer {
    position:absolute;
    bottom: 100;
    width: 100%;
    background-color: #B0C4DE;
}

.f-container {
    display:flex;
    padding: 10px;
}

.f-container .section {
    flex-basis: 50%;
    padding: 0 20px;
}

.section h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #037fc5;
}

.section .content {
    margin:20px 0 0 0;
    position: relative;
}

.section .content::before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
}

.section .content::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background-color: #DC143C;
    top: -10px;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: transparent;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    transition: 0.4s;
    border:1px solid #037fc5;
}

.left .content .social a span:hover {
    background: #DC143C;
}

.center .content .fas {
    font-size: 1.1rem;
    background: transparent;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    border:1px solid #037fc5;
}

.center .content .fas:hover {
    background: #DC143C;
    border:1px solid #037fc5;
}

.center .content .text {
    font-size: 1.0.6rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .btn button:hover {
    background: #000;
}

.footer-bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
    text-decoration:none!important;
}

.f-container
.siteFooterBar {
    bottom: 0;
    padding-top: 50px;
    width: 100%;
    height: 82px;
}

.content {
    display: block;
    padding: 0px;
    width:250px;
}

@media screen and (max-width:700px){}

div .picture-right {
    position:static;
    width: 300px;
    height: 100px;
    right: -100px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

@media screen and (max-width:700px){
    
footer {
    position: relative;
    bottom: 0px;
}

.left .content {
    padding-right:0px;
    padding-bottom: 30px;
}

.f-container {
    flex-wrap: wrap;
    flex-direction: column;
    padding:0.5rem;
}

.f-container .section {
    margin:5px 0;
}
}

/* End Footer */

