.features {
    padding-top: 100px;
    text-align: center;

    .feature-box {
        padding: 60px 35px 35px 35px;
        margin-top: 20px;

        .generic-icon::before {
            margin: 0px !important;
            color: $background-blue;
        }

        .feature-title {
            color: $background-blue;
            margin-top: 25px;
        }

        .feature-desc {
            margin-top: 15px;
            font-size: 13px;
            line-height: 20px;
        }
    }

   

    .features-about-us {
        background-color: $background-ash !important;

        .two-cloumn-with-image {
            margin-top: 8.15rem;
            margin-bottom: 8.15rem;

            .about-us-image {
                background-image: url('/images/about-us.jpg');
                background-size: cover;
            }
        }
    }


}

.features-what-we-do {
    padding: 100px 20px 100px 20px;
    background-color: white;
    text-align: center;
}

.service {

    justify-content: center;
    padding: 40px 10px 0px 10px;

    .service-icon {
        margin: auto;
        border-radius: 50%;
        border: 1px solid #dddddd;
        box-shadow: 0 0 0 4px rgba(0,0,0,0.02);
        font-size: 3em;
        height: 2em;
        line-height: 2em;
        width: 2em;
        color: $background-blue;
    }

    .service-title {
        margin: 20px;
        font-size: 20px;
        color: $font-dark-grey;
    }

    .service-desc {
        font-size: 14px;
        line-height: 22px;
        padding: 22px;
    }

}
