footer {
    background-color: #1b2024;
    height: 250px;
    padding-top: 80px;
    
    .logo-box {
        margin-top: -8px;
    }

    .footer-title {
        color: white;
    }

    .contacts_info {
        font-size: 14px;
        font-weight: lighter;

        span {
            display: block;   
            margin-top: 10px;      
        }
    }

    .footer-disclaimer {
        font-size: 12px;
        font-weight: lighter;
        line-height: 14px;
    }
}
.footer-base {
    background-color: #13171a;
    height: 70px;
    vertical-align: middle;
    padding-top: 30px;

    .copyright {
        display: block;
        font-size: 12px;
    }

}