@font-face {
    font-family: 'montserrat';
    src: url('/font/montserrat-extralight.eot');
    src: url('/font/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
         url('/font/montserrat-extralight.woff2') format('woff2'),
         url('/font/montserrat-extralight.woff') format('woff'),
         url('/font/montserrat-extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('/font/montserrat-light.eot');
    src: url('/font/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('/font/montserrat-light.woff2') format('woff2'),
         url('/font/montserrat-light.woff') format('woff'),
         url('/font/montserrat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

/*
@font-face {
    font-family: 'montserrat';
    src: url('/font/montserrat-regular.eot');
    src: url('/font/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('/font/montserrat-regular.woff2') format('woff2'),
         url('/font/montserrat-regular.woff') format('woff'),
         url('/font/montserrat-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}
*/

@font-face {
    font-family: 'montserrat';
    src: url('/font/montserrat-semibold.eot');
    src: url('/font/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
         url('/font/montserrat-semibold.woff2') format('woff2'),
         url('/font/montserrat-semibold.woff') format('woff'),
         url('/font/montserrat-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('/font/montserrat-bold.eot');
    src: url('/font/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('/font/montserrat-bold.woff2') format('woff2'),
         url('/font/montserrat-bold.woff') format('woff'),
         url('/font/montserrat-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'fontello';
    src: url('/font/fontello.eot?40884483');
    src: url('/font/fontello.eot?40884483#iefix') format('embedded-opentype'),
         url('/font/fontello.woff2?40884483') format('woff2'),
         url('/font/fontello.woff?40884483') format('woff'),
         url('/font/fontello.ttf?40884483') format('truetype'),
         url('/font/fontello.svg?40884483#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}